.choose-section {
    background-image: url(../img/choose_material.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.choose-section .main-subtitle {
    color: #ffffff;
    font-size: 25px;
    padding: 53px 0 20px;
}

.choose-wrap {
    display: flex;
    align-items: center;
}

.choose-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.choose-select {
    width: 263px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff90;
    color: #ffffff;
    outline: none;
    margin: 15px 30px 15px 0;
    font-size: 17px;
    font-weight: 300;
}

.choose-cost {
    color: #ffffff;
    font-size: 67px;
    font-weight: 300;
    margin-bottom: 50px;
}

.choose-second-item {
    margin-left: 10%;
    text-align: center;
}

.choose-wrap .green-btn {
    width: 200px;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .choose-section {
        height: 70vh;
    }

    .choose-wrap {
        flex-direction: column;
        justify-content: center;
    }

    .choose-second-item {
        margin: 0 auto;
    }

    .choose-cost {
        font-size: 50px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 740px) {
    .choose-wrap {
        align-items: flex-start;
    }

    .choose-section {
        height: 90vh;
    }

    .choose-second-item {
        margin: 0;
    }
}

