.footer-wrap {
    background-color: #998658;
    height: 45vh;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-list-item {
    padding: 5% 5% 0 0 ;
    width: 80%;
    flex-wrap: wrap;
}

.footer-list-item:last-child {
    padding: 4% 0 0 0;
    color: #ffffff;
    font-weight: 300;
}

.footer-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400; 
    margin-bottom: 47px;
}

.footer-menu {
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
}

.footer-menu a {
    color: #ffffff;
    text-decoration: none;
    line-height: 35px;
}

.footer-menu a:hover {
    cursor: pointer;
    text-transform: uppercase;
}

.footer-phone {
    display: flex;
    line-height: 35px;
}

.footer-phone-item {
    margin: 30px 32px 30px 0;
    white-space: nowrap;
}

.footer-text {
    line-height: 21px;
    margin-top: 35px;
    width: 90%;
}

@media screen and (max-width: 830px) { 
    .footer-wrap {
        height: 70vh;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-menu {
        display: flex;
    }

    .footer-menu a {
        margin-right: 20px;
        white-space: normal;
        line-height: 15px;
        text-align: center;
    }

    .footer-title {
        margin-bottom: 10px;
    }
}
