.client .main-title {
    margin-top: 47px;
}

.client-wrap {
    background-image: url(../img/client.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 59px;
}

.client-item {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00000095;
    padding-top: 25px;
}

.client-first-item {
    width: 65%;
    margin-left: 28px;
}

.client-title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 21px;
}

.client-text {
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    font-family: "Open Sans";
    font-weight: 300;
}

.client-cost {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.client-cost-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.client-cost-position {
    margin-right: 20px;
}

.client-download {
    margin-bottom: 20px;
}

.client-download:hover {
    cursor: pointer;
    color: #90bc3b;
}

.client-btn {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.client-item .green-btn {
    width: 180px;
    margin-top: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .client-text {
        width: 130%;
    }
}
   
@media screen and (max-width: 935px) {
    .client-wrap {
        height: 80vh;
    }
    
    .client-item {
        height: 80vh;
    }
    
    .client-cost {
        font-size: 15px;
        letter-spacing: 0;
    }

    .client-btn {
        flex-direction: column;
    }

    .client-btn .green-btn {
        width: 180px;
    }
}

@media screen and (max-width: 765px){
    .client-item {
        width: 50%;
    }
    .client-wrap {
        height: 85vh;
    }

    .client-item {
        height: 85vh;
    }
}