.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79vw;

}

.header-first-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.logo {
    margin-right: 25px;
}

.header-first-item .description-text {
    width: 50%;
}

.header-second-item {
    color: #000000;
    font-size: 19px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 15px;
}

.header-third-item {
    color: gray;
    font-size: 24px;
    white-space: nowrap;
}

.header-third-item i{
    margin-right: 10px;
}

.header-third-item .header-menu-icon {
    display: none;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 0;
    height: 41px;
    width: 80%;
    background-color: #e6e6e6;
}

.nav-first-item ul{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    list-style: none;
}

.nav-first-item a {
    color: #000000;
    text-decoration: none;
}

.nav-first-item li {
    margin-right: 40px;
}

.nav-first-item a:hover {
    color: #8cc63e;
}

.nav-second-item {
    position: relative;
}

.input-icon {
    height: 25px;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    outline: none;
}

.input-icon-item {
    position: absolute;
    color: gray;
    right: 12px;
    top: 5px;
}

.home-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.home-wrap img {
    width: 100%;
}

.home-first-item {
    margin-right: 30px;
}

.home-second-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-second-item img {
    margin-bottom: -1px;
}

.home-img-one::before {
    content: 'До';
    background: #8cc63e;;
    position: absolute;
    font-size: 15px;
    color: white;
    padding: 6px 18px; 
    z-index: 1; 
}

.home-img-two::before {
    content: 'Во время';
    background: #8cc63e;;
    position: absolute;
    font-size: 15px;
    color: white;
    padding: 6px 18px;
    z-index: 1;   
}

.home-img-three::before {
    content: 'После';
    background: #8cc63e;;
    position: absolute;
    font-size: 15px;
    color: white;
    padding: 6px 18px;
    z-index: 1;   
}

/* media queries */
@media screen and (max-width: 1200px) {
    .header-second-item {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .header-first-item .description-text {
        width: 100%;
    }

    .nav-wrap {
        width: 78%;
    }

    .nav-second-item {
        display: none;
        justify-content: center;
    }

    .home-wrap {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .home-second-item {
        display: flex;
        flex-direction: row;
    }

    .home-second-item img {
        width: 90%;
    }
}

@media screen and (max-width: 750px) { 
    .header-first-item .description-text {
        display: none;
    }

    .header-first-item {
        margin-bottom: 20px;
    }

    .nav-wrap {
        display: none;
    }

    .header-third-item .header-menu-icon {
        display: flex;
    }

    .header-third-item {
        display: flex;
        flex-direction: row;
    }
}