@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

.container {
    padding: 0 10%;
    font-family: "Open Sans";
}

.description-text {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.main-title {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
}

.main-subtitle {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.main-btn {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #90bc3b;
    background-color: #ffffff;
    color: #659a00;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.main-btn:hover {
    cursor: pointer;
    text-transform: uppercase;
}

.position-title-and-btn {
    display: flex;
    justify-content: space-between;
}

.green-btn {
    background-color: #90bc3b;
    color: #ffffff;
    width: 179px;
    height: 35px;
    border-radius: 4px;
    background-color: #90bc3b;
    border: none;
    outline: none;
}

.green-btn:hover {
    cursor: pointer;
}