.kind-list {
    margin: 24px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kind-item {
    background-color: #f2f2f2;
    margin-right: 30px;
    margin-bottom: 20px;
}

.kind-item:last-child {
    margin-right: 0;
}

.kind-title {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 23px 0 30px;
}

.kind-subtitle {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: 23px 0 30px;
}

.kind-first-item {
    position: relative;
}

.kind-second-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000060;
    position: absolute;
    padding: 50px 42px;
    margin: -204px 0;
    display: none;
}

.kind-img {
    width: 100%;
}

.kind-icon {
   color: #ffffff97;
    font-size: 70px;
}

.kind-item:hover {
    display: block;
    cursor: pointer;
}

.kind-item:hover .kind-title {
    display: none;
}

.kind-item:hover .kind-second-item {
    display: block;
    text-align: center;
}

@media screen and (max-width: 1475px) {
    .kind-item {
        margin-right: 15px;
    }
}