.map-item {
    display: flex;
}

.map-title {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

.map-first-item {
    height: 50vh;
    width: 50vw;
}

.map-second-item {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.useful-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.useful-img {
    width: 100%;
    margin-bottom: 20%;
}

.useful-text-position {
    margin-left: 30px;
    width: 40%;
}

.useful-text-position .main-subtitle {
    margin-bottom: 25px;
}

.useful-text-position .main-subtitle:hover {
    color: #90bc3b;
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 1100px) {
    .map-item {
        flex-direction: column;
    }

    .map-first-item {
        width: 79vw;
    }

    .map-second-item {
        margin-left: 0;
    }

    .map-title-position {
        margin-top: 10%;
    }

    .useful {
        display: flex;
        flex-direction: row;  
    }

    .useful-content {
        flex-direction: column;
    }

    .useful-img {
        width: 90%;
    }

    .useful-text-position .main-subtitle {
        width: 250%;
        font-size: 18px;
        margin-left: -23px;
        margin-bottom: 10px;
    }

    .useful-text-position .description-text {
        width: 200%;
        margin-left: -23px;
        font-size: 15px;
    }
}

@media screen and (max-width: 845px) {
    .useful-text-position .main-subtitle {
        width: 190%;
    }
    .map-title-position {
        margin-top: 15%;
    }
}
