.news .main-title {
    margin-top: 57px;
}

.news-line {
    margin-top: 40px;
    display: flex;
}

.news-item {
    margin-right: 46px;
    margin-bottom: 30px;
}

.news-item:last-child {
    margin-right: 0;
}

.news-date {
    background-color: #6fa900;
    color: #ffffff;
    padding: 8px 0;
    width: 160px;
    text-align: center;
    white-space: nowrap;
}

.news .main-subtitle {
    margin: 22px 0 30px;
}

/* media queries */
@media screen and (max-width: 1200px) { 
    .news-line {
        flex-wrap: wrap;
    }

    .news-item {
        width: 43%;
    }
}

@media screen and (max-width: 825px) {
    .news-item {
        width: 70%;
    }
} 