.product-line {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-line-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #e6e6e6;
    margin-right: 3%;
    padding: 20px;
    height: 25vh;
    width: 50%;
}

.product-line-item:last-child {
    margin-right: 0;
}

.product-icon {
    color: #8cc63e;
    font-size: 30px;
    background-color: #f2f2f2;
    padding: 35px 90px;
}

.product-line-item .main-subtitle {
    margin: 25px 0;
}

.product-line-item:hover {
    background-image: url(../img/third-img.png);
    cursor: pointer;
}

.product-line-item:hover .product-icon {
   margin: 0 auto;
    background-color: #8cc63e;
    padding: 20px;
    margin-top: 30px;
    width: 10%;
    border-radius: 50%;
    color: #ffffff;
}

.product-line-item:hover .main-subtitle{
    color: #ffffff;
}

.product-line-item:hover .description-text {
    color: #ffffff;
}

/* media queries */
@media screen and (max-width: 1350px) { 
    .product-line {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-line-item {
        width: 40%;
        margin: 1%;
    }
}

@media screen and (max-width: 660px) {
    .product-line-item {
        width: 70%;
    }
}