.proposition-line {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.proposition-line-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #e6e6e6;
    margin-right: 3%;
    height: 35vh;
    width: 50%;
    position: relative;
}

.proposition-line-item:hover {
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.proposition-line-item:hover .description-text {
    color: #8cc63e;
}

.proposition-line-item:hover .proposition-img-odd::before {
    font-size: 30px;
    padding: 18px 5px;  
}

.proposition-line-item:hover .proposition-img-even::before {
    font-size: 30px;
    padding: 18px 5px;  
}

.proposition-img-odd img {
    width: 100%;
}

.proposition-img-even img {
    width: 100%;
}

.proposition-line-item:last-child {
    margin-right: 0;
}

.proposition-img-odd::before {
    content: '-25%';
    background: #8cc63e;;
    position: absolute;
    font-size: 20px;
    color: white;
    padding: 18px 5px; 
    z-index: 1; 
}

.proposition-img-even::before {
    content: '-30%';
    background: #8cc63e;;
    position: absolute;
    font-size: 20px;
    color: white;
    padding: 18px 5px; 
    z-index: 1; 
}


.proposition-line-item .description-text {
    margin: 17px 20px 25px;
}

.product-cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #000000;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
}

.product-cost-old {
    font-size: 15px;
    text-decoration: line-through;
    color: grey;
}


/* media queries */
@media screen and (max-width: 1350px) {
    .proposition-line-item{
        height: 40vh;
    } 

    .proposition-line {
        flex-wrap: wrap;
        justify-content: center;
    }

    .proposition-line-item {
        width: 40%;
        margin: 1%;
    }
}

@media screen and (max-width: 800px) {
    .proposition-line-item {
        width: 70%;
    }
}