.realwood-description {
    height: 52vh;
    background-color: #f5f5f5;
    margin-top: 60px;
}

.realwood-description .position-title-and-btn {
    padding-top: 70px;
}

.realwood-description-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.realwood-description-line-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.realwood-description-line-item:hover {
    cursor: pointer;
}

.realwood-description-line-item:hover .realwood-description-icon {
    color: white;
    background-color: #90bc3b;
}

.realwood-description-line-item:hover .main-subtitle {
    color: #90bc3b;
}

.realwood-description-icon {
    display: flex;
    font-size: 60px;
    color: #90bc3b;
    padding: 20px 30px;
    border-radius: 50%;
    border: 2px solid #90bc3b;
    margin: 60px 0 26px;
}

.les-size {
    font-size: 50px;
    padding: 25px 20px;
}

.realwood-description-text {
    width: 70%;
}

.realwood-description-text .main-subtitle {
    margin-bottom: 22px;
}

/* media queries */
@media screen and (max-width: 1350px) {
    .realwood-description {
        height: 85vh;
    }

    .realwood-description-line-item {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .realwood-description {
        height: 140vh;
    }

    .realwood-description-line-item {
        width: 90%;
    }
}