.sale {
    margin-top: 55px;
}

.sale-line {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sale-line-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 3%;
    height: 40vh;
    width: 50%;
    position: relative;
}

.sale-img img {
    width: 100%;
}

.sale-line-item:last-child {
    margin-right: 0;
}

.sale-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.sale-line-item .product-cost {
    margin: 10px 0 0;
}

.sale-line-item .main-subtitle {
    margin-top: 20px;
}

.sale-line-item .description-text {
    margin: 17px 0 25px;
}

/* media queries */
@media screen and (max-width: 1350px) {
    .sale-line-item{
        height: 50vh;
    } 

    .sale-line {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sale-line-item {
        width: 40%;
        margin: 1%;
    }
}

@media screen and (max-width: 800px) {
    .sale-line-item {
        width: 70%;
    }
}