.wood-gallery-title {
    margin: 54px 0 24px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
}

.wood-gallery-slider {
    background-image: url(../img/wood-gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 59px;
}

.wood-gallery-item {
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000095;
}

.wood-gallery-first-item {
    width: 60%;
    margin-left: 28px;
}

.wood-gallery-text {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: "Open Sans";
    font-weight: 300;
}

.wood-gallery-cost {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    white-space: nowrap;
    z-index: 1;
}

.wood-gallery-item .green-btn {
    width: 200px;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .wood-gallery-text {
        width: 150%;
    }
}
   
@media screen and (max-width: 885px) {
    .wood-gallery-cost {
        font-size: 15px;
        letter-spacing: 0;
    }

    .wood-gallery-item .green-btn {
        width: 150px;
    }
}
  